
<div class="navbar navbar-dark" style="background-color: #0f8534">
    <div class="container">
        <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center p-2">
            <p style="font-weight: bold; font-style: oblique; color: white;">Việc đọc sách là một hành trình kỳ diệu mở ra những cánh cửa mới cho trí tuệ và tâm hồn chúng ta. Mỗi trang sách không chỉ kể lại những câu chuyện hấp dẫn mà còn mang đến những kiến thức sâu sắc, giúp ta khám phá thế giới xung quanh và hiểu biết hơn về chính mình. Đọc sách không chỉ là giải trí, mà còn là cách để làm phong phú thêm tâm hồn, mở rộng tầm nhìn và nuôi dưỡng trí tuệ. Chính nhờ sách, chúng ta có thể sống hàng trăm cuộc đời trong một cuộc đời, và mỗi lần đọc lại là một lần chúng ta trở thành người khác, học hỏi và trưởng thành hơn.</p>
        </div>
    </div>
</div>
<style>
    footer{
      background-color: #0b447d;
    }
    footer a {
        color: white;
    }
</style>
  <footer style="color: white;">
    <section style="padding-bottom: 5px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 footer-item mb-3">
                    <h3 class="h4 mt-5">ĐƯỜNG DẪN</h3>
                    <a class="text-decoration-none" href="#">Trang chủ</a><br>
                    <a class="text-decoration-none" href="#">Liên hệ</a><br>
                    <a class="text-decoration-none" href="#">Giới thiệu</a><br>
                    <a class="text-decoration-none" href="#">Góp ý</a><br>
                </div>
                <div class="col-md-3 col-sm-3 footer-item mb-3">
                    <h3 class="h4 mt-5">THỂ LOẠI</h3>
                    <a class="text-decoration-none" href="#">Sách thiếu nhi</a><br>
                    <a class="text-decoration-none" href="#">Sách tâm lý - kỹ năng sống</a><br>
                    <a class="text-decoration-none" href="#">Sách thể thao - nghệ thuật</a><br>
                    <a class="text-decoration-none" href="#">Sách lịch sử - chính trị</a><br>
                    <a class="text-decoration-none" href="#">Sách huyền bí - giả tưởng</a><br>
                    <a class="text-decoration-none" href="#">Sách phiêu lưu - mạo hiểm</a><br>
                    <a class="text-decoration-none" href="#">Sách truyền cảm hứng</a><br>
                    <a class="text-decoration-none" href="#">Sách ẩm thực - nấu ăn</a><br>
                    <a class="text-decoration-none" href="#">Sách Khoa học - công nghệ</a><br>
                    <a class="text-decoration-none" href="#">Sách khoa học - tự nhiên</a><br>
                    <a class="text-decoration-none" href="#">Sách kinh doanh</a><br>
                    <a class="text-decoration-none" href="#">Sách y học - sức khỏe</a><br>
                    <a class="text-decoration-none" href="#">Tiểu Thuyết</a><br>
                </div>
                <div class="col-md-3 col-sm-4 footer-item">
                    <h3 class="h4 mt-5">HOTLINE</h3>
                    <p>
                      <strong>Fanpage:</strong> <a class="text-decoration-none" href="">VŨ TRUH TRI THỨC</a><br/>
                      <strong>SĐT:</strong> <a class="text-decoration-none" href="">0346.691.358</a><br/>
                      <strong>Email:</strong> <a class="text-decoration-none" href="">ntlinh141104@gmail.com</a><br/>
                    </p>
                </div>
                <div class="col-md-3 col-sm-4 footer-item mt-4 mb-3">
                    <img class="text-start" width="250px" src="image/logo.png" alt="">
                    <p><strong>VŨ TRỤ TRI THỨC</strong> là một Website chia sẻ đầu sách với hơn 2000 cuốn sách đa dạng thể loại nhằm cung cấp cho các bạn đọc giả yêu sách có một môi trường đọc sách thận tiện đáp ứng được nhu cầu tìm kiếm và khám phá tri thức.</p>
                </div>
            </div>
        </div>
    </section>

    <div id="copyright" style="background-color: #01305f">
        <div class="container">
            <div class="row">
                <div class="panel-body p-4 text-center">Copyright @ 2024 <strong>VŨ TRỤ TRI THỨC</strong> - DISCOVERING THE WORLD THROUGH ENGLISH LETTERS</div>
            </div>
        </div>
    </div>
</footer>